# Python cache and local env files
# EVEN THOUGH THIS IS A TAURI PROJECT HAHAHAHAHAHHAHAH
__pycache__/
*.py[cod]  
*$py.class
.env/
venv/        # <- I DONT USE VENV HAHAHAHAHA

# App data and editor folders
# i was told to exclude .vs in some tutorial i havent actually seen the .vs folder
.vs/
data/

# Root frontend / Tauri build output
node_modules/
dist/
src-tauri/target/
src-tauri/gen/

# Installer build output and bundled binaries
installer/node_modules/
installer/dist/
installer/src-tauri/target/
installer/src-tauri/assets/trackmln.exe
installer/src-tauri/gen/
installer/src-tauri/resources/trackmln.exe

# Legacy code not part of the current app
legacy-python/
